
.product-into-container{
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
}
.product-image img{
    width: 300px;
}