.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.player-container{
  display:grid;
  grid-template-columns: 300px 300px 300px;
 
}
.count-container{
  margin-top: 300px;
  text-align: right;
}
.count-container, h3, h5{
  color: rgb(56, 56, 56);
}